services:
  pdns:
    image: powerdns/pdns-auth-50:5.0.2
    ports:
      - "8081:8081"
      - "53:53/udp"
    volumes:
      - pdns-data:/var/lib/powerdns
      - ./pdns.conf:/etc/powerdns/pdns.conf:ro
    restart: unless-stopped

  ui:
    build: .
    ports:
      - "8080:80"
    depends_on:
      - pdns
    restart: unless-stopped

volumes:
  pdns-data:
