name: Integration Tests

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Install dependencies
        run: npm ci

      - name: Set up Just
        uses: extractions/setup-just@v2

      - name: Start Environment
        run: just --dotenv-filename .env.ci primary

      - name: Run SPA Tests (npm test)
        run: npm test
